footer{
    .support, .contact{
        padding: 3rem 1rem 1rem;
        display: inline-block;
        border-bottom: $light-gray solid .05rem;
    }
    .support{
        width: 75%;
        border-right: $light-gray solid .05rem;
    }
    .contact{
        width: 25%;
        text-align: right;
    }
}