footer{
    border-top: $light-gray solid .05rem;
    .support, .contact{
        width: 50%;
        padding: 2rem 1rem;
        display: inline-block;
    }
    .contact{
        text-align: right;
    }
}