header{
    overflow: hidden;
    border-bottom: $light-gray solid .05rem;
    h1,p,.chip-pm-link{
        display: inline-block;
        vertical-align: bottom;
    }
    h1{
        padding: 1rem;
        width: 25%;
        border-right: $light-gray solid .05rem;;
    }
    p{
        width: 65%;
        padding: 1rem;
    }
    .chip-pm-link{
        width: 10%;
        padding: 1rem;
        border-left: $light-gray solid .05rem;
        img{
            width: 100%;
        }
    }
}