header{
    overflow: hidden;
    border-bottom: $light-gray solid .05rem;;
    h1,p{
        display: inline-block;
        clear: both;
    }
    h1{
        padding: 1rem;
        width: 25%;
        border-right: $light-gray solid .05rem;;
    }
    p{
        padding: 1rem;
        width: calc(75% - 6.75%);
    }
    .chip-pm-link{
        width: calc(6.75% - 1rem);
        display: inline-block;
        margin: 1rem 1rem 0 0;
        img{
            width: 100%;
        }
    }
}