$dark-gray: #080808;
$mid-gray: #121212;
$light-gray: #f4f4f4;

$poly-red: #c81414;
$alca-yellow: #f9ec03;
$glob-green: #86996c;
$alien-gray: #9e9e9e;
$damalga-blue: #1b52bf;

$dg: #d8d8d8;
$bc: #619aa9;
$sc: #ec5405;
$ig: #dd2a7b;
