@use "colors" as *;

main {
  section.releases,
  aside.others {
    display: inline-block;
  }
  section.releases {
    width: 75%;
    .release {
      width: 27%;
      display: table-cell;
      position: relative;
      border-right: 0.04rem solid $light-gray;
      border-bottom: 0.04rem solid $light-gray;
      img {
        width: 100%;
        border-bottom: 0.04rem solid $light-gray;
        vertical-align: top;
        transition: filter 0.2s ease;
      }
      &:hover {
        background: $mid-gray;
        transform: scale(1.024);
        z-index: 10;
        border: 0.04rem solid $light-gray;
        img {
          filter: brightness(1.08);
        }
      }
      .release-txt {
        padding: 1rem;
        .release-title,
        .label,
        .date {
          margin-bottom: 0.6rem;
        }
        .release-title {
          line-height: 1.4em;
        }
        .cat,
        .date {
          text-align: right;
        }
        .cat,
        .tracklist,
        li {
          margin-bottom: 0.4rem;
        }
      }
    }
    .release-row {
      display: flex;
      align-items: stretch;
      .release {
        display: flex;
        flex-direction: column;
        width: 50%;
        img,
        .release-txt {
          display: block;
          width: 100%;
        }
        .release-txt {
          flex: 1;
          padding: 1rem;
        }
      }
    }
    > .release:last-child {
      display: inline-block;
      width: 100%;
      border-bottom-color: transparent;
      img,
      .release-txt {
        width: 50%;
        display: inline-block;
      }
      img {
        border-bottom: 0;
        border-right: 0.04rem solid $light-gray;
      }
      &:hover {
        border-bottom-color: $light-gray;
      }
    }
  }
}
