@use "colors" as *;

aside.others {
    width: 25%;
    vertical-align: top;
    .download-cover-letter {
        position: absolute;
        top: 12.8rem;
        right: 1rem;
        img {
            opacity: 0.84;
            width: 150px;
            transition: all 0.5s ease;
            -webkit-animation: spin 8s infinite linear;
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
        &:hover img {
            filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(1567%) hue-rotate(358deg) brightness(104%) contrast(97%);
        }
    }
    > div {
        position: relative;
        .bg-other {
            width: 100%;
        }
    }
    /*Other-tracks*/
    .other-tracks {
        .other-tracks-txt {
            border-bottom: $light-gray solid 0.05rem;
            .other-tracks-title {
                padding: 1rem;
                border-top: 0.04rem solid $light-gray;
                border-bottom: 0.04rem solid $light-gray;
            }
            .other-tracks-list {
                padding: 1rem;
                .other-track {
                    margin-bottom: 0.8rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    /*Images*/
    .images-carousel {
        h4.images-title {
            padding: 1rem;
            border-bottom: 0.04rem solid $light-gray;
        }
        .controls {
            button {
                background-color: transparent;
                width: 50%;
                padding: 0.6rem;
                color: $light-gray;
                border: none;
                cursor:
                    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 3 L9 11 L6 11 L6 8 L4 8 L4 15 L6 15 L6 12 L9 12 L12 12 L12 15 L14 15 L14 12 L17 12 L17 8 L14 8 L14 3 L12 3 L12 8 L9 8 Z" fill="%23F9EC03" stroke="%23121212" stroke-width="1.2"/></svg>')
                        12 0,
                    pointer;
                &.prev {
                    border-right: 0.04rem solid $light-gray;
                }
            }
        }
        .main-image {
            border-top: 0.04rem solid $light-gray;
            img {
                width: 100%;
                display: block;
            }
        }
        .alt-text {
            font-family: "antoniobold";
            text-align: center;
            line-height: 1rem;
            letter-spacing: 0.02em;
            background: $light-gray;
            padding: 0.6rem 0.4rem 0.4rem 0.4rem;
            font-size: 0.72rem;
        }
    }
}
